@charset "utf-8";
/* CSS Document */

@import url("../webfonts/GeoSans_Light_Regular/stylesheet.css");
@import url("../webfonts/Portal_Glyphs_NMS/stylesheet.css");

@import url("stylesheet.css");
@import url("colors.php");
@import url("display_item.css");

.page_header {
	color: var(--system-color);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	font-weight: bold;
}

.context_str {
	text-align: center;
}

.disco_str {
	text-align: center;
}

.info_table {
	border: 1px solid var(--border-color);
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.info_table th,
.info_table td {
	width: auto;
	border: 1px solid var(--border-color);
	text-align: center;
}

.info_table th {
	background-color: var(--header-color);
}

.glyph {
	display: none;
}