<!DOCTYPE html>
<html>

<body>
    <div metal:define-macro="child_cards">

        <h3 class="children_header" tal:condition="child_cards"><span tal:content="item_type">XXX</span> DISCOVERIES</h3>

        <div class="children">
            <div class="children_carousel">
                <div class="child_card" tal:repeat="child_card child_cards">
                    <tal:block metal:use-macro="../templates/card_content.html/card_common"/>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
