<!DOCTYPE html>
<html>

<body>
    <div metal:define-macro="child_cards">

        <h3 class="children_header" tal:condition="child_cards"><span tal:content="item_type">XXX</span> DISCOVERIES</h3>

        <div class="children">
            <div class="children_carousel">
                <div class="child_card" tal:repeat="child_card child_cards">
                    <div class="card_header" tal:attributes="style child_card/header_style"><a tal:content="child_card/name" tal:attributes="href child_card/url">Item Name</a></div>
                    <div class="card_type"><i tal:content="child_card/type">Planet</i></div>
                    <div class="card_image"><img tal:attributes="src child_card/thumb"/></div>
                    <div class="card_content">
                        <tal:block metal:use-macro="../templates/card_content.html/${child_card/type}" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
