<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fauna Entry Form</title>

    <link rel="stylesheet" type="text/css" href="style/entry.css" />
    <script src="./libs/jquery-3.4.1.js"></script>
    <link href="./libs/flexdatalist/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css" />
    <script src="./libs/flexdatalist/jquery.flexdatalist.min.js"></script>
    <script src="./js/entry_image_resize.js"></script>

</head>

<body>

    <h1>Fauna Entry Form</h1>

    <div class="container">

        <table>
            <form enctype="multipart/form-data" method="post" action="../entry/fauna_upload.php">
                <tr>
                    <td class="entry_label"><label for="orig_name">Original Name</label></td>
                    <td class="entry_content"><input type="text" id="orig_name" name="orig_name" /></td>
                </tr>
                <tr>
                    <td class="entry_label">
                        <label for="new_name">Name</label></td>
                    <td class="entry_content"><input type="text" id="new_name" name="new_name" />
                    </td>
                </tr>
                <tr>
                    <td class="entry_label">
                        <label for="planet">Planet</label></td>
                    <td class="entry_content"><input type="text" class="flexdatalist" data-min-length="0" data-selection-required="true" list="planet_list" id="planet" name="planet" tal:attributes="value preselect_name" />
                        <datalist id="planet_list">
                            <option tal:repeat="planet planets" tal:attributes="value planet/0" tal:content="planet/1"></option>
                        </datalist>
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="gender">Gender</label></td>
                    <td class="entry_content"><input type="text" class="flexdatalist" data-min-length="0" list="gender_list"  id="gender" name="gender" />
                        <datalist id="gender_list">
                            <option tal:repeat="gender genders" tal:attributes="value gender/0" tal:content="gender/1"></option>
                        </datalist>
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="behaviour">Behaviour</label></td>
                    <td class="entry_content"><input type="text" class="flexdatalist" data-min-length="0" list="behaviour_list" id="behaviour" name="behaviour" />
                        <datalist id="behaviour_list">
                            <option tal:repeat="behaviour behaviours" tal:attributes="value behaviour/0" tal:content="behaviour/1"></option>
                        </datalist>
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="age">Age</label></td>
                    <td class="entry_content"><input type="text" class="flexdatalist" data-min-length="0" list="age_list" id="age" name="age" />
                        <datalist id="age_list">
                            <option tal:repeat="age ages" tal:attributes="value age/0" tal:content="age/1"></option>
                        </datalist>
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="diet">Diet</label></td>
                    <td class="entry_content"><input type="text" class="flexdatalist" data-min-length="0" list="diet_list" id="diet" name="diet" />
                        <datalist id="diet_list">
                            <option tal:repeat="diet diets" tal:attributes="value diet/0" tal:content="diet/1"></option>
                        </datalist>
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="bait">Bait</label></td>
                    <td class="entry_content"><input type="text" class="flexdatalist" data-min-length="0" list="bait_list" id="bait" name="bait" />
                        <datalist id="bait_list">
                            <option tal:repeat="bait baits" tal:attributes="value bait/0" tal:content="bait/1"></option>
                        </datalist>
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="ecosystem">Ecosystem</label></td>
                     <td class="entry_content"><input type="text" class="flexdatalist" data-min-length="0" list="ecosystems_list" data-selection-required="true" id="ecosystem" name="ecosystem" />
                        <datalist id="ecosystems_list">
                            <option tal:repeat="ecosystem ecosystems" tal:attributes="value ecosystem/0" tal:content="ecosystem/1"></option>
                        </datalist>
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="activity">Activity</label></td>
                    <td class="entry_content"><input type="text" class="flexdatalist" data-min-length="0" list="activities_list" data-selection-required="true" id="activity" name="activity" />
                        <datalist id="activities_list">
                            <option tal:repeat="activity activities" tal:attributes="value activity/0" tal:content="activity/1"></option>
                        </datalist>
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="height">Height</label></td>
                    <td class="entry_content"><input type="text" id="height" name="height" />
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="weight">Weight</label></td>
                    <td class="entry_content"><input type="text" id="weight" name="weight" />
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="note">Notes</label></td>
                    <td class="entry_content"><input type="text" class="flexdatalist" data-min-length="0" list="note_list" id="note" name="note" />
                        <datalist id="note_list">
                            <option tal:repeat="note notes" tal:attributes="value note/0" tal:content="note/1"></option>
                        </datalist>
                    </td>
                </tr>

                <tr>
                    <td class="entry_label">
                        <label for="discovery_date">Date of Discovery</label></td>
                    <td class="entry_content"><input type="date" id="discovery_date" name="discovery_date" />
                    </td>
                </tr>
                <tr>
                    <td class="entry_label">
                        <label for="discoverer">Discoverer</label></td>
                    <td class="entry_content"><input type="text" id="discoverer" name="discoverer" value="bilwis" />
                    </td>
                </tr>

                <input type="hidden" id="full_img" name="full_img" />
                <input type="hidden" id="header_img" name="header_img" />
                <input type="hidden" id="thumb_img" name="thumb_img" />

                <input  class="submit_button" id="submit_button"  type="submit" />
            </form>
            <!-- @TODO: Image resizing on client? -->
            <tr>
                <td class="entry_label">
                    <label for="screenshot">Screenshot</label></td>
                <td class="entry_content"><input type="file" id="screenshot" name="screenshot" accept="image/png, image/jpeg" />
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
