<!doctype html>
<html>

<head>
    <title tal:content="page_title">Untitled Document</title>
    
    <tal:block condition="verified" metal:use-macro="../templates/article_entry.html/tinymce_resizer" />
    <tal:block condition="verified" metal:use-macro="../templates/article_entry.html/tinymce_load" />
    <tal:block condition="verified" metal:use-macro="../templates/article_entry.html/tinymce_setup" />
    <link rel="stylesheet" type="text/css" tal:attributes="href item_stylesheet" />
    <link rel="stylesheet" type="text/css" href="../libs/slick/slick.css" />
    <link rel="stylesheet" href="../style/glightbox.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <h1 class="page_header" tal:content="item_name">Planet name</h1>
    <h3 class="context_str"><i><span tal:content="item_type">XXX</span> <span tal:content="item_in_on">in/on</span> the <a tal:content="context_name" tal:attributes="href context_url">XXX</a> <span tal:content="context_type">XXX</span>.</i></h3>
    <h5 class="disco_str">Discovered on <span tal:content="discovery_date">XX-XX-XXXX</span> by <span tal:content="discoverer">bilwis</span></h5>

    <div class="img_box"><a tal:attributes="href screenshot_path_hi" class="glightbox"><img class="cover_img" tal:attributes="src screenshot_path; alt item_name"/></a></div>

    <table class="info_table">
        <thead>
            <tr>
                <th tal:repeat="table_item info_table" scope="col" tal:content="repeat/table_item/key">Header_Item</th>
            </tr>
        </thead>
        <tr>
            <td tal:repeat="table_item info_table" tal:attributes="data-label repeat/table_item/key" tal:content="table_item">Table_item</td>
        </tr>
    </table>

    <p tal:condition="glyph_code" class="glyph" tal:content="glyph_code">2090026DD172</p>


    <tal:block condition="child_cards" metal:use-macro="../templates/child_cards.html/child_cards" />


    <div tal:condition="php: verified AND possible_entries" class="add_entry">
        <table>
        <td><a class="add_entry_button" tal:repeat="possible_entry possible_entries" tal:attributes="href possible_entry/url">+ Add <span tal:content="possible_entry/type"></span></a></td>
        </table>
    </div>

    <div tal:condition="php: articles OR verified">

        <h3 class="diary_header">DIARY ENTRIES</h3>

        <tal:block condition="verified" metal:use-macro="../templates/article_entry.html/form" />

        <tal:block conditions="articles" metal:use-macro="../templates/article_display.html/article_display" />

    </div>

    <script type="text/javascript" src="../libs/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../libs/slick/slick.min.js"></script>
    <script type="text/javascript" src="../js/slick_item_children.js"></script>
    <script type="text/javascript" src="../libs/glightbox.min.js"></script>
    <script type="text/javascript" src="../js/lightbox_init.js" defer="true"></script>
</body>

</html>
